<div>
  <%#= render "shared/second-header"%>
  <div class="body">

    <div class="sign-form">
      <div class="sign-header">
        Log-in
      </div>
      <div class="sign-body">

        <div class="app-title">
          <h1>Plan-App</h1>
          <div>
            <%= link_to '新規登録', new_user_registration_path, mothod: :get %>
            <%#= link_to 'ログイン', new_user_session_path, method: :get %>
          </div>
        </div>

        <%#= render "shared/error" %>

        <div class="sign-input">
          <%= form_with model: @user, url: new_user_session_path, local: true do |f| %>
            <div class="form-group">
              <label for="InputEmail">メールアドレス</label>
              <%= f.email_field :email, id:"InputEmail", placeholder:"Email", class: "form-control" %>
            </div>

            <div class="form-group">
              <label for="PassWord">パスワード</label>
              <%= f.password_field :password, id:"PassWord", class: "form-control", placeholder:"Password" %>
            </div>

            <div class="sign-input-submit">
              <%= f.submit "ログイン", class: "btn-sm btn-success" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

  </div>

</div>